* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
}

/* Main start */

.header {
  width: 1536px;
  height: 40px;
  flex-shrink: 0;
  background-color: #939878;
  padding: 0px 40px 0px 40px;
  justify-content: center;
  margin-bottom: 9px;
}
.header__text {
  padding-top: 9px;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  width: 217px;
  margin-left: 609px;
}
.header__img {
  width: 32px;
  height: 32px;
  display: inline-flex;
  padding: 0px 0px 4px 0px;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 0px 4px 0px;
  margin-left: 80px;
}

/* Main end */

/* Navbar start */

.navbar {
  width: 1440px;
  padding-right: 401px;
  height: 42px;
  flex-shrink: 0;
}
.nav-link {
  gap: 20px;
}
/* Navbar end */

/* grow start*/
.row {
    background-color: #E7E8E3;
}
/* grow end */